.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: $backdrop-background-color;
  opacity: 0;
  visibility: hidden;
  inset: 0;
  z-index: 1080;
  transition: $backdrop-transition;
  @include modifier('open') {
    opacity: $backdrop-opacity--open;
    visibility: visible;
  }
}
