.shopping{
 display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  &__left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
      width: 100px;
      height: 100px;
    }
    h4{
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 0;
      margin-left: 10px;
      color: #23A0A5;
    }
  }
  &__right{
    display: flex;
    align-items: center;
    button{
      background-color: transparent;
      margin-left: 10px;
      cursor: pointer;
    }
    span{
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 0;
      color: #23A0A5;
    }
  }
}